.category {
  background-color: #fff;
  margin-top: 20px;
  padding: 0 !important;
  .category__header {
    height: 61px;
    padding: 0 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .category__content {
    ul {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      height: 302px;
      padding: 0;
    }
    li {
      width: 120px;
      height: 151px;
      border: 1px solid rgba(0, 0, 0, 0.05);
      border-top: 0;
      border-left: 0;
      .item__box {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        .item__img {
          margin-top: 10%;
          width: 70%;
          height: 70%;
          background-size: contain;
          background-repeat: no-repeat;
        }
        .item__name {
          font-size: 14px;
          text-align: center;
          color: rgba(0, 0, 0, 0.8);
        }
      }

      .item__box:hover {
        cursor: pointer;
        border-color: rgba(0, 0, 0, 0.12);
        border-width: 1px;
        box-shadow: 0 0 0.8125rem 0 rgba(0, 0, 0, 0.05);
      }
    }
  }
}
