.shopinfo__nav {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  min-width: 220px;
  min-height: 100vh;
  border-radius: 6px;
  .nav__list {
    list-style-type: none;
    .nav__item {
      padding: 8px 0;
    }
    .nav__item-selected {
      color: #60a5fa;
      font-weight: 600;
    }
    .nav__item:hover {
      cursor: pointer;
      color: #60a5fa;
    }
  }
}
