@import '../../node_modules/bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: #f5f5f5;
  color: rgb(1, 1, 1);
  font-family: var(--font-body-family);
}

a,
button {
  text-decoration: none;
}

:root {
  --blue: #a5f3fc;
  --font-body-family: 'Helvetica Neue', Helvetica, Arial, 文泉驛正黑,
    'WenQuanYi Zen Hei', 'Hiragino Sans GB', '儷黑 Pro', 'LiHei Pro', 'Heiti TC',
    微軟正黑體, 'Microsoft JhengHei UI', 'Microsoft JhengHei', sans-serif;
}

$breadcrumb-divider: quote(">");